{
  "watch": "/Users/johnsmith/Desktop",
  "matchCriteria": {
    "startsWith": "Screen Shot",
    "endsWith": ".png"
  },
  "aws": {
    "region": "YOUR_AWS_REGION",
    "accessKeyId": "YOUR_AWS_ACCESS_KEY_ID",
    "secretAccessKey": "YOUR_AWS_SECRET_ACCESS_KEY",
    "s3": {
      "bucket": "YOUR_BUCKET_NAME",
      "keyPrefix": "screen-shots/"
    }
  }
}
